<form id="{{ FormID }}" name="{{ FormID }}" class="form-horizontal" action="{{ ModuleUrl }}" method="post" autocomplete="off">
    <input type="hidden" name="cmd" value="{{ cmd }}"/>
    <input name="BrandID" type="hidden" >
    <input name="BFamilyID" type="hidden" >
    <input name="ProductID" type="hidden" >
    <input name="PImageID" type="hidden" >

    <div class="form-group row">
        <div class="col-sm-12">
            <label class="form-label">Descripción</label>
            <input type="text" name="PImageDescription" id="PImageDescription" class="form-control" />
        </div>
    </div>

</form>

<div class="BN_BottomMenu">

    <div class="pull-right">

        <button type="button" class="btn" onclick="BN.WinClose();">Cancelar</button>
        <button class="btn btn-primary" form="{{ FormID }}" type="submit">Guardar</button>

    </div>

</div>


<script type="text/javascript">

    BN.Form('{{ FormID }}');

</script>